body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
  margin: 0;
  padding: 49px 0 0 0;
}

.visually-hidden {
  display: none;
}

.site-navigation {
  width: 440px;
  padding: 10px 0 0 35px;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.basket-list {
  width: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 9px;
}

.navigation-item,
.basket-item {
  list-style-type: none;
  margin: 0;
}

.navigation-item a,
.basket-item a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
}

.basket::before {
  content: url("../img/basket-icon.svg");
  width: 15px;
  height: 15px;
  padding-right: 25px;
}

.navigation-item .navigation-link:hover,
.basket-item .navigation-link:hover {
  color: #fb565a;
}

.navigation-item .navigation-link:active,
.basket-item .navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item .current-link {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 49px;
  margin-bottom: 7px;
}

.main-navigation a:hover {
  color: #fa6669;
}

.main-navigation a:active {
  color: #b9b9b9;
}

/*------------------------------------------------------------------------*/
.page-title {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.toggles-list {
  list-style: none;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description .container {
  display: flex;
}

.container .page-title {
  margin: 86px auto 116px auto;
}

.slider {
  position: relative;
  margin: 0;
  /*padding: 61px 0 0 0;*/
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 28%;
  z-index: 100;
  width: 160px;
  height: 2px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.slider-item {
  display: none;
  padding: 78px 0 0 0;
}

/*.slider-img {*/
  /*width: 760px;*/
  /*min-height: 415px;*/
  /*margin-left: 384px;*/
  /*margin-top: -304px;*/
/*}*/

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 78px 0 101px 0;
  margin: -2px 32px -19px 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 78px 0 101px 0;
  margin: -2px 32px -19px 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 78px 0 101px 0;
  margin: -2px 32px -19px 0;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item {
  padding: 16px 0px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1:before,
#product-2:checked ~ .slider-controls .slider-controls-item--2:before,
#product-3:checked ~ .slider-controls .slider-controls-item--3:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  line-height: 23px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  font-weight: 500;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*-------------------------------------------------------------*/
.services {
  padding: 0 0 90px 0;
  margin-top: 79px;
  border-bottom: 2px solid #eeeeee;
}

.services ul {
  margin: 0;
  list-style: none;
}

.features-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list .btn-link {
  margin-top: 4px;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
  margin: 0;
  margin-top: 19px;
}

.features-item p {
  text-transform: none;
  color: #283136;
  margin: 0;
  display: block;
  margin-top: 15px;
  margin-bottom: 31px;
  width: 250px;
}

.features-item {
  width: 300px;
  padding-right: 100px;
}

.features-item a {
  width: 160px;
}

.features-item-site .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fb565a;
}

.features-item-site .btn:hover {
  background-color: #e74246;
}

.features-item-site .btn:active {
  background-color: #d7373b;
}

.features-item-app .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #00ca74;
}

.features-item-app .btn:hover {
  background-color: #00bc6c;
}

.features-item-app .btn:active {
  background-color: #00aa62;
}

.features-item-presentation .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #efc84a;
}

.features-item-presentation .btn:hover {
  background-color: #eab534;
}

.features-item-presentation .btn:active {
  background-color: #e5a722;
}

/*----------------------------------------------------------------------------------*/
.description {
  margin: 64px 0 0 -39px;
  padding: 0 0 74px 0;
}

.description b {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: black;
}

.description-block {
  display: flex;
  justify-content: space-between;
}

.description-block-left {
  width: 660px;
  flex-direction: column;
  padding-left: 20px;
}

.description-block-left b {
  margin: 0;
  margin-top: 34px;
}

.description-block-left p {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 40px;
}

.description-block-left p:nth-of-type(2) {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.description-list {
  margin: 0;
  padding-left: 35px;
  list-style: none;
}

.description-item {
  position: relative;
  margin-bottom: 24px;
}

.description-item:last-child {
  margin: 0;
}

.description-item:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 12px;
  left: -34px;
}

.statistics {
  width: 360px;
  padding: 0 0 0 141px;
  margin: -36px 0 0 0;
}

.statistics p:nth-of-type(1) {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 17px;
  margin: 0;
  margin-top: 30px;
}

.statistics-features {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 58px;
}

.statistics-features-num {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: black;
  margin-right: 17px;
}

.statistics-features-num:last-of-type {
  margin: 0;
}

.statistics-features-num sup {
  font-size: 62%;
}

.statistics-features-text {
  display: flex;
  width: 360px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 19px;
}

.statistics-features-text span {
  margin-right: 24px;
}

.statistics-features-text span:last-of-type {
  margin-right: 0;
}

/*---------------------------------------------------------------------------------------------*/
.container-partners {
  width: 1160px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 52px 35px 37px 40px;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
}

.partners li:nth-child(2) {
  margin-top: -9px;
  margin-left: -20px;
}

.partners li:nth-child(3) {
  margin-top: -9px;
  margin-left: -15px;
}

.partners li {
  position: relative;
}

.partners li:first-child::after {
  content: "";
  width: 2px;
  height: 52px;
  position: absolute;
  right: -51px;
  top: 2px;
  background-color: #eeeeee;
}

.partners li:nth-child(2)::after {
  content: "";
  width: 2px;
  height: 52px;
  position: absolute;
  right: -44px;
  top: 14px;
  background-color: #eeeeee;
}

.partners li:nth-child(3)::after {
  content: "";
  width: 2px;
  height: 50px;
  position: absolute;
  right: -55px;
  top: 2px;
  background-color: #eeeeee;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}
.partners {
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}
/*----------------------------------------------------------------------------------------------------*/
.map-contacts {
  width: 100%;
  height: 416px;
  background-image: url("../img/map.jpg");
  background-color: #eeeeee;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-repeat: no-repeat;
}

.footer-contacts {
  width: 269px;
  background-color: white;
  margin: 53px 0 0 0;
  padding-left: 50px;
  padding-bottom: 47px;
  padding-top: 49px;
  height: 212px;
}

.footer-contacts-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 21px;
}

.footer-contacts-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #666666;
  padding: 0;
  margin: 5px 0 -7px 0;
  padding-bottom: 23px;
  display: block;
  max-width: 210px;
  text-decoration: none;
}

.response-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  border-radius: 2px;
  padding-top: 16px;
  padding-bottom: 18px;
  text-align: center;
  margin-top: 19px;
}

.response-button:hover {
  background-color: #e74246;
}

.response-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-slogan {
  font-size: 36px;
  padding-left: 141px;
  margin: 12px 0 0 0;
}

.social-slogan b {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-slogan p {
  color: #444444;
  font-size: 16px;
  line-height: 22px;
}

.popup-container {
  width: 860px;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
  padding: 0;
  padding-top: 70px;
  padding-left: 100px;
  padding-bottom: 70px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -293px;
  z-index: 3;
  display: none;
}

.popup-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  padding-right: 434px;
  padding-bottom: 40px;
}

.button-close {
  background-color: transparent;
  border: none;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -10px;
  left: 748px;
  outline: none;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.popup-form fieldset {
  padding: 0;
  margin: 0;
}

.form-text {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.popup-form p:first-of-type {
  margin-right: 36px;
}

.form-textarea {
  display: block;
  padding: 0;
  margin: 0;
}

.popup-form label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  padding-bottom: 10px;
}

.popup-form fieldset {
  border: none;
}

.popup-form input {
  width: 340px;
  height: 46px;
  padding: 0 0 0 16px;
  border-radius: 3px;
  font-size: 16px;
}

.popup-form textarea {
  width: 740px;
  height: 102px;
  padding: 12px 0 0 16px;
  resize: none;
  margin-bottom: 40px;
  font-size: 16px;
}

.form-textarea {
  margin-top: 10px;
}

.popup-form input,
.popup-form textarea {
  border: 2px solid #d7dcde;
  opacity: 0.5;
  color: #444444;
  border-radius: 3px;
}

.popup-form input:hover,
.popup-form textarea:hover {
  border: 2px solid #b4b9bb;
  opacity: 0.5;
  color: #444444;
}

.popup-form input:focus,
.popup-form textarea:focus {
  border: 2px solid #000000;
  opacity: 1;
  background-color: #ffffff;
  outline: none;

}

.popup-form input:invalid {
  border: 2px solid #e74246;
  opacity: 1;
  background-color: #ffffff;
  color: #e74246;

}

.submit-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  display: inline-block;
  width: 260px;
  height: 50px;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.submit-button:hover {
  background-color: #e74246;
  cursor: pointer;
}

.submit-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social {
  padding: 48px 0 65px 0;
  margin: 0 -13px 4px -40px;
}

.social ul {
  display: flex;
  list-style: none;
}

.social a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-right: 10px;
  background-color: #e1e1e1;
}

.social img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.social a:hover {
  background-color: #e74246;
}

.social a:active {
  background-color: #d7373b;
}

.footer-social {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-right: 140px;
  padding: 0;
  align-items: center;
}

.footer-social-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

/*Сеточные стили*/
body {
  min-width: 1200px;
  min-height: 1925px;
}

.container {
  width: 1160px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.map-contacts-container {
  display: flex;
  flex-wrap: nowrap;
  height: 462px;
}

.main-header-logo {
  width: 165px;
  height: 65px;
  display: flex;
}

.header-logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.basket-option {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 85px;
}

.main-wrapper {
  /*background-color: #eeeeee;*/
  /*margin:0;*/
  padding: 0;
  margin-bottom: 78px;
}

/*.services {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  margin-top: 80px;
  border-bottom: 2px solid #eeeeee;
  list-style: none;*/

.feature-item {
  width: 33.333333%;
}

.main-footer {
  /*margin-top: 80px;*/
}

.footer-social {
  display: flex;
  padding: 0;
  list-style: none;
}

/* ---------------------------------------Catalog */
.catalog-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  margin: 0;
  padding: 77px 0 109px 0;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.catalog-header h1 {
  display: block;
  width: 960px;
  margin-top: 71px;
  margin-bottom: 108px;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}

/*---------------------------------------------------------------*/

.catalog-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.filters {
  display: flex;
  flex-basis: 300px;
  padding: 56px 0 0 0;
}

.filter-group fieldset {
  border: 0;
}

.radio-item,
.checkbox-item,
.sort-by-class,
.project-screen {
  list-style-type: none;
}

.filter-group legend {
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-list {
  padding-top: 0;
  padding-left: 0;
}

.range-list {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 55px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.radio-list {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.radio-item {
  padding: 0;
  line-height: 20px;
}

.radio-item li {
  padding-bottom: 20px;
}

.radio-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.radio-container:hover {
  color: #000000;
}

.radio-container input[type="radio"] + .radio-indicator {
  position: absolute;
  left: 0;
  top: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
}

.radio-container input[type="radio"]:hover + .radio-indicator {
  opacity: 1;
}

.radio-container input[type="radio"]:checked + .radio-indicator::before,
.radio-container input[type="radio"]:checked + .radio-indicator::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 4.5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
}

.checkbox-list {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.checkbox-item {
  padding: 0;
  line-height: 20px;
}

.filter-checkbox {
  padding-bottom: 20px;
}

.checkbox-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-container:hover {
  color: #283136;
}

.checkbox-container input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 21px;
  height: 21px;
  border: 2px solid #283136;
  border-radius: 3px;
  opacity: 0.4;
}

.checkbox-container input[type="checkbox"]:hover + .checkbox-indicator {
  opacity: 1;
}

.checkbox-container input[type="checkbox"] + .checkbox-indicator::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 6px;
  width: 5px;
  height: 12px;
  background-color: #4d4d4d;
  opacity: 0.4;
}

.checkbox-container input[type="checkbox"] + .checkbox-indicator::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 10px;
  width: 16px;
  height: 5px;
  background-color: #4d4d4d;
  opacity: 0.4;
}

.checkbox-container input[type="checkbox"] + .checkbox-indicator::before,
.checkbox-container input[type="checkbox"] + .checkbox-indicator::after {
  transform: rotate(135deg);
}

.checkbox-indicator::before,
.checkbox-indicator::after {
  display: none;
}

.checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::before,
.checkbox-container input[type="checkbox"]:checked + .checkbox-indicator::after {
  display: block;
  opacity: 1;
}

.button-show {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
  padding: 15px 15px;
}

.button-show:hover,
.button-show:focus {
  background-color: #dfdfdf;
}

.button-show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.templates-wrapper {
  display: flex;
  flex-direction: column;
  padding: 54px 0 0 139px;
  margin: -20px 0 -54px 0;
}

.sort {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sort b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 23px;
}

.sort-container {
  width: 360px;
  justify-content: space-between;
  display: flex;
}

.sort-by-class {
  width: 275px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  text-transform: uppercase;
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
}

.sort-item a {
  opacity: 0.3;
  color: black;
}

.sort-item a:hover {
  opacity: 0.6;
  color: #000000;
}

.sort-item a:active {
  color: #000000;
  opacity: 1;
}

.sort-by-arrow {
  width: 40px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
  padding-left: 50px;
}

.sort-by-arrow a path {
  fill: #231F20;
  opacity: 0.2;
}

.sort-by-arrow a:hover path {
  fill: #a6a6a6;
  opacity: 1;
}

.sort-by-arrow a:active path {
  fill: #231f20;
}

.catalog {
  margin-top: -14px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  justify-content: space-between;
  margin-bottom: 27px;
  margin-top: 53px;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 27px;
}

.catalog-item img {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.catalog-item-card {
  display: none;
  position: absolute;
  top: 376px;
  margin-top: 8px;
  text-align: center;
  background-color: #eeeeee;
  width: 360px;
  padding-top: 25px;
  padding-bottom: 45px;
}

.catalog-item-card h3 {
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-right: 65px;
  padding-left: 60px;
}

.catalog-item-card .cart-info {
  margin-top: 0;
  margin-bottom: 32px;
  padding-right: 60px;
  padding-left: 60px;
  color: #666666;
  line-height: 18px;
}

.browser {
  position: relative;
  display: flex;
  align-items: center;
  width: 360px;
  height: 39px;
  border: 1px solid #4d4d4d;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #4d4d4d;
  opacity: 0.1;
}

.dot-list {
  display: flex;
  justify-content: space-between;
  width: 60px;
  padding-left: 15px;
  list-style-type: none;
  margin-bottom: 15px;
}

.dot-list li::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
}

.dot-list li:nth-of-type(2)::before {
  margin-left: -7px;
}

.dot-list li:last-of-type::before {
  margin-left: -14px;
}

.catalog-item-card .price-item {
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 60px;
  padding-left: 60px;
}

.catalog-item-card .button {
  width: 200px;
  margin-left: 20px;
  font-weight: 500;
  line-height: 18px;
  padding: 15px 0px;
}

.catalog-item-cart .button-bg:active {
  color: #ffffff;
}

.project-item img:hover ~ .description-hover {
  display: block;
}

.main-pages {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 50px;
  max-width: 760px;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination-list {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 4px;
}

.pagination-list a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-list li {
  display: inline;
  vertical-align: top;
  margin-right: 8px;
}

.page-button {
  width: 50px;
  padding: 16px 20px 14px 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  line-height: 18px;
  font-weight: 500;
}

.page-current {
  padding: 13px 17px 12px 17px;
  border: 3px solid #dbdbdb;
  background-color: #eeeeee;
  border-radius: 2px;
}

.page-current:active {
  border: none;
  padding: 16px 20px 14px 20px;
  border-radius: 2px;
}

.page-button:hover {
  background-color: #dfdfdf;
}

.page-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 2px 0px #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}

.page-next {
  width: 260px;
  padding: 17px 77px 14px 77px;
}
/*------------------Форма обратной связи---*/
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  color: #000000;
  background-color: #ffffff;
  bottom: 80px;
  z-index: 1000;
}

.modal-write-us {
  display: none;
  width: 760px;
  padding: 70px 100px 84px 100px;
  -webkit-box-shadow: 2px 2px 70px 10px #595a5a;
  box-shadow: 2px 2px 70px 10px #595a5a;
}

.modal-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-animation-name: appearance;
  animation-name: appearance;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.modal-error {
  -webkit-animation-name: error-value;
  animation-name: error-value;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.modal-write-us h2 {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 48px;
}

.wrapper-row {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper-row:first-of-type {
  margin-bottom: 20px;
}

.wrapper-row textarea {
  margin-bottom: 31px;
  resize: none;
}

.wrapper-row:not(:last-of-type) p {
  width: 360px;
}

.wrapper-row p {
  margin-top: 0;
  line-height: 18px;
  font-weight: 700;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  width: 100%;
  margin-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding: 14px 0 14px 14px;
  font: inherit;
  font-weight: 400;
  color: #444444;
  opacity: 0.5;
  line-height: 18px;
}

.wrapper-row input:hover,
.wrapper-row textarea:hover {
  border-color: #b4b9bb;
}

.wrapper-row input:focus,
.wrapper-row textarea:focus {
  color: #444444;
  border-color: #000000;
  opacity: 1;
}

.wrapper-row input:invalid {
  border-color: #e74246;
  color: #e74246;
}

.button-close {
  position: absolute;
  top: 90px;
  left: 850px;
  border: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 1px;
  width: 20px;
  height: 4px;
  background-color: #fb565a;
  opacity: 0.3;
}

.button-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.button-close:hover::before,
.button-close:hover::after {
  opacity: 1;
}

.button-close:active::before,
.button-close:active::after {
  opacity: 0.1;
}
